@import '../../styles/variables.scss';

.homepage-container {
    width: 100%;
    position: relative;
    font-family: 'Roboto',Tahoma;
}

.carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden;
    max-height: 32em;
}

.home-page-news {
    margin-top: 30px;
    padding-left: 11em;
    padding-right: 11em;
}

.property-suggetion-background {
    background-color: $light-grey-color;
}

