
.property-suggetion-container {
    width: 1124px;
    margin: 0 auto;
    padding: 28px 0 30px;
    border: none;
    h2{
        font-size: 28px;
        line-height: 38px;
        text-transform: none;
        color: #2d373f;
        margin-bottom: 20px;
        float: left;
    }
}

.property-suggetion-card-item{
    padding-right: 18px !important;
}