@import "./fonts";

$mobile: 455px;

@mixin text-field-layout($margin-btm: 1em) {
	margin-bottom: $margin-btm !important;
	div {
		padding-left: 10px;
	}
}

//455px
@mixin mobile {
	@media screen and (max-width: $mobile) {
		@content;
	}
}

@function weight($weight-name) {
	@return map-get($font-weight, $weight-name);
}

.username-field {
	@include text-field-layout(1.5em);
}

.password-field {
	@include text-field-layout(1.5em);
}

.dialog-container {
	font-family: $font-stack;
	line-height: 20px;
}

.textfield-container {
}

.login-title {
	font-weight: weight(bold);
	font-size: 24px;
	color: #055699;
	margin: 30px 0;
	text-align: center;
	text-transform: uppercase;
}

.root {
	width: 100%;
	padding-left: 2em !important;
	padding-right: 2em;
	@include mobile {
		padding-right: 9em;
	}
}

.btn-container {
	text-align: center;
}
